apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dex-prod

bases:
  - ../../base

replicas:
  - name: dex
    count: 3

images:
  - name: data-literate/dex
    newName: ghcr.io/data-literate/dex
    newTag: sha-03216e24

patchesStrategicMerge:
  - deployment.yaml
