apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - ingress.yaml
  - pdb.yaml
  - networkpolicy.yaml

images:
  - name: data-literate/dex
    newName: data-literate/dex
    newTag: v1.0.0
