apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dex-stage

bases:
  - ../../base

replicas:
  - name: dex
    count: 2

images:
  - name: data-literate/dex
    newTag: v1.0.0

patchesStrategicMerge:
  - deployment.yaml
